{% trans %}
<div style="float:left;margin-left:5px;margin-right:25px"><img src="/images/kandagawa-small.png"></div>
<div>
<p>The CSIRO Digital Asset Registry has been setup as part of the <a href="http://www.csiro.au/en/Research/LWF">CSIRO Land and Water</a>
<a href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Management">Digital Asset Management Committee</a>
by the Dambusters project (formerly the <a href="https://research.csiro.au/oznome">OzNome</a> for Land &amp; Water project).</p>

<p>The registry is a customisation of <a href="http://ckan.org/">CKAN</a><br /></p>

<p>Developers:
	Ben Leighton,
	Jonathan Yu,
	Andrew Freebairn,
	Ashley Sommer,
	Rob Bridgart,
	Hendra Wijaya
</p>
<p>Contributors:
	Matt Paget,
	David Lemon,
	Sally Tetreault-Campbell
</p>
</div>
{% endtrans %}
