{% trans %}
<div style="float:left;margin-left:5px;margin-right:25px"><img src="/images/kandagawa-small.png"></div>
<div>
<p>The CSIRO Digital Asset Registry has been setup as part of the <a href="http://www.csiro.au/en/Research/LWF">CSIRO Land and Water</a>
<a href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Management">Digital Asset Management Committee</a>
by the DAMbusters project.</p>

<p>The registry is a customisation of <a href="http://ckan.org/">CKAN</a><br />.</p>

<h2>Documentation and support</h2>
<p>
Please refer to the <a href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Registry+User+Guide">Digital Asset Registry User Guide here</a> for 
documentation to get started and tips.
</p>

<p>
The Digital Asset Registry is part of a broader strategic digital asset management plan. Refer to 
<a href="https://confluence.csiro.au/display/LWCH/Digital+Asset+Management+Strategy">Digital Asset Management Strategy</a> 
on Confluence for more info. 
</p>

<p>
This registry is operated as a "research operations" grade platform.
The registry team endeavours to address any issues and/or service disruptions during normal business hours
(between 9am-5pm AEST Monday to Friday, excluding public holidays).
Weekly backups will be put in place using IM&T system backup arrangements.
</p>

<p>
If you have questions, our <a href="https://confluence.csiro.au/display/LWCH/DA%3A+Digital+Asset+Registry+FAQ">FAQ page</a> may assist, 
or feel free to contact us at <a href="mailto:lw-dam-support@csiro.au">lw-dam-support@csiro.au</a>.
</p>

<p>
   Comments and suggestions to DAMC are welcome on the 
   <a href="https://confluence.csiro.au/display/LWCH/Suggestions+for+DAMC">L&amp;W Digital Asset Management Suggestions Confluence page</a>. 
</p>

<h2>Acknowledgements</h2>
<p>Developers:
	Ben Leighton,
	Jonathan Yu,
	Andrew Freebairn,
	Ashley Sommer,
	Rob Bridgart,
	Jevy Wang,
	Hendra Wijaya
</p>
<p>Contributors:
	Matt Paget,
	David Lemon,
	Sally Tetreault-Campbell
</p>
</div>


{% endtrans %}
