{% trans %}
<div style="float:left;margin-left:5px;margin-right:25px"><img src="/images/kandagawa-small.png"></div>
<div>
<p>A demonstration product produced by the OzNome for Land & Water project as a part of the broader OzNome initiative.</p>

<p>Oznome: <a href="https://research.csiro.au/oznome">https://research.csiro.au/oznome/</a></p>

<p>C.S.I.R.O. Land and Water: <a href="http://www.csiro.au/en/Research/LWF">http://www.csiro.au/en/Research/LWF</a></p>

<p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
</div>
{% endtrans %}
