{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome") }}</h1> 
      <p>
        {% trans %}
        The CSIRO Land and Water Digital Asset Registry
	allows CSIRO users to register 
	digital assets for discovery by others. 
      </p>
      <p>
	This registry serves as a platform for registering
	digital assets not considered 'production-ready' 
	or not owned by CSIRO and discovery of previously registered
	assets. 
	Please consider depositing 'production-ready' digital assets 
	in the CSIRO's Data Access Portal (DAP) at <a href="http://data.csiro.au/dap">http://data.csiro.au/dap</a>.
      </p>
      <p>
	To get started with registering digital assets via this platform, 
        <a href="/user/login">log in here</a> using your CSIRO NEXUS credentials.
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    {# <section class="featured media-overlay hidden-phone"> #}
      {# <h2 class="media-heading">{% block home_image_caption %}{{ _("Feature datasets here") }}{% endblock %}</h2> #}
      {% block home_image_content %}
        {#<a class="media-image" href="#">#}
		{# <img src="{{ h.url_for_static('/images/oznome-aust-small.png') }}" alt="OzNome Data Image" width="420" height="220" /> #}
        {#</a>#}
      {% endblock %}
      {# </section> #}
  {% endblock %}
</div>
