{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome") }}</h1> 
      <p>
        {% trans %}
        The CSIRO Land and Water Digital Asset Registry
	allows CSIRO users to register 
	digital assets for audit purposes 
        and discovery by CSIRO internal staff. 
      </p>
      <p>
	This registry serves as a platform for registering
	digital assets that are not considered appropriate for 'external-release' 
	or not owned by CSIRO but used by research projects (e.g. licensed data).
	Please consider depositing 'production-ready' digital assets 
	in the CSIRO's Data Access Portal (DAP) at <a href="http://data.csiro.au/dap">http://data.csiro.au/dap</a>.
      </p>
      <p>This registry facilitates discovery of other relevant CSIRO digital assets 
         previously registered on other systems - internal (e.g. CSIRO DAP), or external (e.g. Dryad, data.gov.au). 
      </p>
      <div class="vertical-space"></div>
       <hr/>
      <div>
         <a href="/user/login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login to register an asset</a>
         <a href="/dataset" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">View all assets</a>
      </div>
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    {# <section class="featured media-overlay hidden-phone"> #}
      {# <h2 class="media-heading">{% block home_image_caption %}{{ _("Feature datasets here") }}{% endblock %}</h2> #}
      {% block home_image_content %}
        {#<a class="media-image" href="#">#}
		{# <img src="{{ h.url_for_static('/images/oznome-aust-small.png') }}" alt="OzNome Data Image" width="420" height="220" /> #}
        {#</a>#}
      {% endblock %}
      {# </section> #}
  {% endblock %}
</div>
