.ie8 .hero,
.ie7 .hero {
  background: url("/images/background-riverbank.png");
}

@media (min-width: 768px) {
  .hero {
    background: url("/images/background-riverbank.png");
  }
}


.logo img {
   max-height: 50px
}


label:after {
   content: "" !important;
}

label .popover-content {
   text-decoration: none;
   font-weight: normal;
   font-style: normal;
}

label i {
   color: #BBBBBB ;
}

.popover .popover-content {
    word-break: normal !important;
}

.search-form .search-input.search-giant button {
   margin-top: -14px;
}


.homepage.layout-1 .row1 .col2 {
   position: relative;
}

.primary-full-width {
   width: 100%;
}

.stages {
    margin: -10px 0px  10px
}

.panel-title a {
    text-decoration: none;


}

.inline-box {
 display: inline-block;
   min-width: 350px;
}

.asset-owner {
   min-width: 400px;

}

.author {
  width: 300px;
}

.maintainer{
  width: 300px;
}

.asset-status div.controls select {
  width: 380px;
}
   

