.ie8 .hero,
.ie7 .hero {
  background: url("/images/bunker_bay.jpg");
    background-repeat: no-repeat;
    background-size: auto;

}

@media (min-width: 768px) {
  .hero {
    /*background: url("/images/background-riverbank.png");*/
    background: url("/images/bunker_bay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

  }
}


@media (min-height: 500px) {
   .hero.homepage  {
  	min-height: 400px;
   }
}

@media (min-height: 600px) {
   .hero.homepage  {
  	min-height: 500px;
   }
}

@media (min-height: 800px) {
   .hero.homepage  {
  	min-height: 700px;
   }
}

@media (min-height: 1000px) {
   .hero.homepage  {
  	min-height: 900px;
   }
}

@media (min-height: 1000px) {
   .hero.homepage  {
  	min-height: 900px;
   }
}

.logo img {
   max-height: 50px
}


label:after {
   content: "" !important;
}

label .popover-content {
   text-decoration: none;
   font-weight: normal;
   font-style: normal;
}

label i {
   color: #BBBBBB ;
}

.popover .popover-content {
    word-break: normal !important;
}

.search-form .search-input.search-giant button {
   margin-top: -14px;
}



.homepage.layout-1 .row1 .col2 {
   position: relative;
}

.primary-full-width {
   width: 100%;
}

.stages {
    margin: -10px 0px  10px
}

.panel-title a {
    text-decoration: none;


}

.inline-box {
 display: inline-block;
   min-width: 350px;
}

.asset-owner {
   min-width: 400px;

}

.author {
  width: 300px;
}

.maintainer{
  width: 300px;
}

.asset-status div.controls select {
  width: 380px;
}
   

.user-dashboard-welcome-actions  {
   width: 100%;
   text-align: center;
   padding-top: 20px;
}

.user-dashboard-welcome-actions div.col {
   min-height: 200px;
   border-color: black;
   border-width: 2px;
   border-style: solid;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px; /* future proofing */
   -khtml-border-radius: 10px; /* for old Konqueror browsers */
   margin: 10px 10px;
   padding: 5px 5px;
   display: inline-block;
   width: 250px;
   vertical-align: top;
   background-color:red;
}

.cool-buttons div {
   display: inline-block;
   width: 250px;
}

.user-dashboard-welcome-actions div.col div .action-buttons {
   vertical-align: bottom;
}

.dashboard-button {
    display: inline-block;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow:    0 8px 0 #1692bf, 0 15px 20px rgba(0, 0, 0, .35);
    -moz-box-shadow: 0 8px 0 #1692bf, 0 15px 20px rgba(0, 0, 0, .35);
    box-shadow: 0 8px 0 #1692bf, 0 15px 20px rgba(0, 0, 0, .35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 20px;
    color: #fff;
}

.dashboard-button span {
    display: inline-block;
    padding: 20px 30px;
    background-color: #48b4db;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .15);
    font-family: 'Pacifico', Arial, sans-serif;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .7);
    -webkit-transition: background-color .2s ease-in-out, -webkit-transform .1s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, -moz-transform .1s ease-in-out;
    -o-transition: background-color .2s ease-in-out, -o-transform .1s ease-in-out;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
}

.dashboard-button:hover span {
    background-color: #48b4db;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.dashboard-button:active, .dashboard-button:focus {
    -webkit-box-shadow:    0 8px 0 #1692bf, 0 12px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #1692bf, 0 12px 10px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #1692bf, 0 12px 10px rgba(0, 0, 0, .3);
}

.dashboard-button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}
